 <h3> Show Page </h3>
   <article>
  <header>
    <h1><%= @user.email %></h1>
  </header>
  <h2>First Name</h2>
  <p>
    <%= @user.firstname %>
  </p>
  <h3>Last Name</h3>
  <p>
    <%= @user.lastname %>
  </p>
  <h3>date Of Birth</h3>
  <p>
    <%= @user.date_of_birth %>
  </p>
  <h3>User Name</h3>
  <p>
    <%= @user.username %>
  </p>
  <h3>Email</h3>
  <p>
    <%= @user.email %>
  </p>
</article>